DEBUG=True
TEMPLATE_DEBUG=True
SECRET_KEY=someRandomKeyHere
DB_ENGINE=django.db.backends.mysql
DB_PORT=3306
DB_NAME=example
DB_USER=example
DB_PASSWORD=example
DB_HOST=localhost
ALLOWED_HOSTS=.localhost, .yourDomain.com, .127.0.0.1
